body {
    background-color: rgb(2, 2, 78);
    color: rgb(188, 224, 224);
}

.navbar {
    position: fixed;
    overflow: hidden !important;
    width: 100%;
    z-index: 9999;
}

.nav-link {
    color: black !important;
}

.jumbotron {
    background-color: rgb(2, 2, 78);
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/HeroImage.JPG");
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hireButton {
    background-color: #007bff;
    color: aliceblue;
    border-color: #007bff;
}

#MyWork {
    color: #0f0e0e;
}

#MySkills {
    color: rgb(188, 224, 224);
}

.cardSection {
    background-color: rgb(220, 224, 255);
    padding: 50px;
    border: 30px;
}

.card {
    background-color: azure;
    color: black;
    width: 100%;
    padding: 9px 20px 9px 20px;
    margin-bottom: 0px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #0f0e0e;
    box-sizing: border-box;
    height: 100% !important;
}



.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
    position: relative;

}


.mySkills {
    padding: 30px;
}

#collapseContent {
    padding: 20px;
    border: 25px;
}

#about {
    text-align: start;
}

#contact {
    text-align: end;
}

footer {
    padding: 50px;
    border: 50px;
    background-color: #007bff;
}

#cv {
    text-align: start;
    transition: ;

}

#instagram {
    text-align: center;


}

button #instagram:hover {

    box-shadow: 0 0 0 2em transparent;
    color: #041930;
}

#placeholder {
    text-align: end;
}

.btn-primary {
    background-color: rgb(2, 2, 78);
}

.headings {
    color: #ffffff00;
    text-decoration: none;
}